* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #050210;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #050210;
  width: 500px;
  height: 500px;
}

.krug {
  position: absolute;
  width: 450px;
  height: 450px;
  border-radius: 100%;
  background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
  animation: rotacija 1s infinite linear;
}

.krug2 {
  position: absolute;
  width: 400px;
  height: 400px;
  background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
  border-radius: 50%;
}


.krug3 {
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #050210;
}

.valovi {
  position: absolute;
  background-color: #050210;
  border-radius: 50%;
  animation: valovi 2s infinite linear;
}

.container .valovi:nth-child(4) {
  animation-delay: -1s;
}

.container .valovi:nth-child(5) {
  animation-delay: -2s;
}

@keyframes rotacija {
  0% {
    transform: rotate(0deg);
    filter: blur(50px);
  }

  25% {
    transform: rotate(90deg);
    filter: blur(50px);
  }

  50% {
    transform: rotate(180deg);
    filter: blur(50px);
  }

  75% {
    transform: rotate(270deg);
    filter: blur(50px);
  }

  100% {
    transform: rotate(360deg);
    filter: blur(50px);
  }
}

@keyframes valovi {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
    filter: brightness(2);
  }

  100% {
    width: 350px;
    height: 350px;
    opacity: 0.8;
    filter: brightness(2);
  }
}